<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>UploadToDatabase</servlet-name>
  	<display-name>UploadToDatabase</display-name>
  	<description></description>
  	<servlet-class>com.ideas.UploadToDatabase</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadFileServlet</servlet-name>
  	<display-name>UploadFileServlet</display-name>
  	<description></description>
  	<servlet-class>com.ideas.UploadFileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DataUpdateController</servlet-name>
  	<display-name>DataUpdateController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.DataUpdateController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateResumeOtherController</servlet-name>
  	<display-name>UpdateResumeOtherController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.UpdateResumeOtherController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FileDownloadController</servlet-name>
  	<display-name>FileDownloadController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.FileDownloadController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ResumeDownloadController</servlet-name>
  	<display-name>ResumeDownloadController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.ResumeDownloadController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewDepartmentAdder</servlet-name>
  	<display-name>NewDepartmentAdder</display-name>
  	<description></description>
  	<servlet-class>com.ideas.NewDepartmentAdder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NewDesignationAdder</servlet-name>
  	<display-name>NewDesignationAdder</display-name>
  	<description></description>
  	<servlet-class>com.ideas.NewDesignationAdder</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DepartmentRemover</servlet-name>
  	<display-name>DepartmentRemover</display-name>
  	<description></description>
  	<servlet-class>com.ideas.DepartmentRemover</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DesignationRemover</servlet-name>
  	<display-name>DesignationRemover</display-name>
  	<description></description>
  	<servlet-class>com.ideas.DesignationRemover</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateOtherFileController</servlet-name>
  	<display-name>UpdateOtherFileController</display-name>
  	<description></description>
  	<servlet-class>com.ideas.UpdateOtherFileController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExcelDataExtractor</servlet-name>
  	<display-name>ExcelDataExtractor</display-name>
  	<description></description>
  	<servlet-class>com.ideas.ExcelDataExtractor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExcelExtractor</servlet-name>
  	<display-name>ExcelExtractor</display-name>
  	<description></description>
  	<servlet-class>com.ideas.ExcelExtractor</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExcelExtractorInitialize</servlet-name>
  	<display-name>ExcelExtractorInitialize</display-name>
  	<description></description>
  	<servlet-class>com.ideas.ExcelExtractorInitialize</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExcelExtractorClass1</servlet-name>
  	<display-name>ExcelExtractorClass1</display-name>
  	<description></description>
  	<servlet-class>com.ideas.ExcelExtractorClass1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExcelExtractorInitialize1</servlet-name>
  	<display-name>ExcelExtractorInitialize1</display-name>
  	<description></description>
  	<servlet-class>com.ideas.ExcelExtractorInitialize1</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UploadToDatabase</servlet-name>
  	<url-pattern>/UploadToDatabase</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadFileServlet</servlet-name>
  	<url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DataUpdateController</servlet-name>
  	<url-pattern>/DataUpdateController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateResumeOtherController</servlet-name>
  	<url-pattern>/UpdateResumeOtherController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FileDownloadController</servlet-name>
  	<url-pattern>/FileDownloadController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ResumeDownloadController</servlet-name>
  	<url-pattern>/ResumeDownloadController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewDepartmentAdder</servlet-name>
  	<url-pattern>/NewDepartmentAdder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewDesignationAdder</servlet-name>
  	<url-pattern>/NewDesignationAdder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DepartmentRemover</servlet-name>
  	<url-pattern>/DepartmentRemover</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DesignationRemover</servlet-name>
  	<url-pattern>/DesignationRemover</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateOtherFileController</servlet-name>
  	<url-pattern>/UpdateOtherFileController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExcelDataExtractor</servlet-name>
  	<url-pattern>/ExcelDataExtractor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExcelExtractor</servlet-name>
  	<url-pattern>/ExcelExtractor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExcelExtractorInitialize</servlet-name>
  	<url-pattern>/ExcelExtractorInitialize</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExcelExtractorClass1</servlet-name>
  	<url-pattern>/ExcelExtractorClass1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExcelExtractorInitialize1</servlet-name>
  	<url-pattern>/ExcelExtractorInitialize1</url-pattern>
  </servlet-mapping>
  <session-config>
<session-timeout>
30
</session-timeout>
</session-config>
</web-app>
